:root {
    --color-bl-orange: rgba(233, 103, 17, 0.97);
    --color-gray: rgba(45, 42, 42, 0.881);
    --color-dr-orange:rgb(124, 45, 8);
    --color-dr-gray:rgb(43, 42, 42);
    --color-primary-black: #31261a;
    --color-primary-normal: #FAF4EA;
    --color-secondary-black: #A18268;
    --color-brand-dark: #465929;
    --color-brand-light: #819B57;
    --color-primary-white: #CFCFBC;
    ;
}

$bp-mobile: 480px;
$bp-tablet: 800px;
$bp-desktop: 1200px;