.header {
    z-index: 1;
    background-color: var(--color-gray);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 36px;
    &__container {
        display: flex;
        align-items: center;
        gap: 40px;

    }

    &__nav {
        display: flex;
        flex-grow: 1;
        align-items: center;
        gap: 50px;
    }

    &__icon{
        width: 80px;
        height: 80px;
    }

    &__button {
        &__image{
            margin: 0 auto;

        }
        
        @media screen and (min-width: $bp-tablet) {
            display: block;
            width: 42px;
            height: 42px;
            padding: 0px;
            fill: var(--color-bl-orange);
            background-color: transparent;
            border: none;
        }
    }

    &__menu {
        display: none;

        @media screen and (min-width: $bp-tablet) {
            display: flex;
            gap: 10%;
            flex-grow: 1;
            justify-content: center;
        }
    }

    
}