.review-section{
    background-color: var(--color-dr-gray);
    &__list {
        background-color: var(--color-dr-gray);
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1.5%;
        }
}
.review-card {
    background-color: var(--color-bl-orange);
    box-shadow: -1px -1px 5px gray;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 270px;
    height: 220px;
    flex-shrink: 0;
    padding: 24px;
    color: var(--color-gray);
    border: 3px solid gray;
    border-radius: 16px;
    transition: transform 0.3s;
    &__h{
        
        left: 0;
        top: 0;
    }
    &__text{
        overflow-x: hidden;
        word-wrap: break-word;
    }

}
.review-container
{
    display: flex;
    justify-content: center;
}
.container-review{
    z-index: 2;
    position: absolute;
    right: 2px;
    display: flex;
    margin: 12px;
    justify-content: flex-end;
    border-radius: 8px;
    background-color: var(--color-gray);
    
}
.add-review{
    color: var(--color-bl-orange);
    margin: 4px;
    text-decoration: none;
}


.add-review:hover {
    text-decoration: underline;
}