.button {
    display: block;
    padding: 16px 32px;
    color: var(--color-primary-normal);
    font-weight: 600;
    border: 2px solid var(--color-brand-light);
    background-color: var(--color-brand-light);
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    color: var(--color-brand-dark);
    background-color: transparent;
    background-color: var(--color-primary-normal);
}