.carousel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 44px;
    height: 44px;
    background-color: transparent;
    border: 1px solid var(--color-primary-black);
    fill: var(--color-primary-black);
    border-radius: 60%;
    cursor: pointer;
    flex-shrink: 0;
}

.carousel-button:hover {
    background-color: var(--color-primary-black);
    fill: var(--color-primary-white);
}

.carousel-button.next {
    transform: rotate(180deg);
}