.input {
    position: relative;
    margin-bottom: 24px;

    &__label {
        display: block;

    }

    &__control {
        padding: 16px 42px;
        width: 100%;
        background-color: transparent;
        border-radius: 8px;
        border: 1px solid var(--color-secondary-black);

        &:focus {
            border-color: var(--color-brand-light);
            outline: none;
        }

        &::placeholder {
            color: var(--color-secondary-black);
        }

        &:focus::placeholder {
            color: var(--color-primary-black);
        }
    }
}