.content-section{
    &__container-div{
        padding: 12px;
        
        display: flex;
        width: 100%;
        @media screen and (min-width: 450px) {
            padding: 24px;
    }
}
    &__container{
        display: flex;
        flex-wrap: wrap;
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        gap: 0.3%;
        justify-content: center;
        //     padding-right: 24px;
        // flex-direction: row-reverse;
        // align-self: flex-end;
        // display: flex;
        //     flex-wrap: wrap;
     }
    &__title {
    top: 0;
    left: 0;
    
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 600;
}
    &__text {
        font-size: 14px;
        font-weight: 300;
    }
   &__type{
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    margin: 3px 3px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    height: 800px;
    padding: 24px;
    color: var(--color-gray);
    border: 3px solid gray;
    border-radius: 16px;
    @media screen and (min-width: 450px) {
            margin: 10px 10px;
        }
   }
}




.doors-card {
    background-color: var(--color-primary-normal);
    margin: 2px 2px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    margin-top: 12px;
    width: 200px;
    height: 280px;
    
    @media screen and (min-width: 450px) {
            margin: 10px 10px;
            width: 200px;
            height: 320px;
        }
    @media screen and (min-width: $bp-tablet) {
        width: 349px;
            height: 444px;
        }
    flex-shrink: 0;
    padding: 24px;
    color: var(--color-gray);
    border: 3px solid gray;
    border-radius: 16px;
    transition: transform 0.3s;

    &__img{
    max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        
    }



        &__span {
            display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                max-width: 100%;
            
            overflow: hidden;
        }
}
